/* COLOR */
$accent: #4a3aff;
$white: #ffffff;
$grey: #6f6c90;
$white2: #eff0f6;
$light-gray: #d9dbe9;
$black: #170f49;
/* FONTS */
%dms-700 {
  font-family: 'DMSans-Bold';
  font-weight: 700;
}
%dms-500 {
  font-family: 'DMSans-Medium';
  font-weight: 500;
}
%dms-400 {
  font-family: 'DMSans-Regular';
  font-weight: 400;
}
/* BUTTON */
%btn-r {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

%btn {
  @extend %dms-700;
  @extend %f-cc;
  color: $white;
  font-size: 18px;
  line-height: 20px;
  border-radius: 56px;
  background-color: $accent;
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: darken($color: $accent, $amount: 10%);
    box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.8);
  }
  @media (max-width: 1000px) {
    font-size: 14px;
  }
}

/* FLEX */
%f-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

%f-col {
  display: flex;
  flex-direction: column;
}

%f-row {
  display: flex;
  flex-direction: row;
}
